/* ====== ESTILOS GENERALES ====== */
body {
    font-family: "San Francisco", sans-serif; 
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #1d1d1d;
    color: white;
    

}
/* ====== ESTILOS PARA ENCABEZADO Y NAVEGACIÓN ====== */
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
    padding: 15px 20px;
}

.header-nav h1 {
    margin: 0;
}

.header-nav nav {
    display: flex;
    gap: 15px;
}

.header-nav nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Logo de la finca */
.logo-container img {
    width: 50px; /* Ajuste del tamaño*/
    height: auto;
    margin-right: 20px; /* Separación entre el logo y el nombre */
}

/* Centrar el nombre de la finca */
.logo {
    flex-grow: 1; /* Ocupa el espacio disponible */
    text-align: left; /* Centra el nombre de la finca */
}

/* ====== SECCIÓN PRINCIPAL ====== */
.hero {
    background: url('https://previews.123rf.com/images/prasannapatil/prasannapatil2012/prasannapatil201202037/160634703-plantaci%C3%B3n-de-pl%C3%A1tanos-finca-bananera-plantas-j%C3%B3venes-de-banano-en-una-finca-rural-en-india.jpg')
        no-repeat center center/cover;
    background-color: #7bad6c;
    color: rgb(255, 255, 255);
    padding: 50px 20px;
}

.hero button {
    background-color: #FFFFFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

/* ====== SECCIÓN DE PROMOCIONES (CARRUSEL HORIZONTAL) ====== */
.promociones {
    padding: 40px 20px;
    text-align: center;
}

.carousel-container {
    display: flex;
    justify-content: center; /* Centra las imágenes dentro del contenedor */
    gap: 20px; /* Espacio entre las imágenes */
    overflow: hidden; /* Oculta las imágenes que salen del contenedor */
    width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
}

.carousel-item {
    flex: 0 0 auto; /* Asegura que las imágenes no se estiren */
    width: 300px; /* Ancho de las imágenes */
    height: 250px; /* Altura moderada */
    overflow: hidden; /* Recorta la imagen si es necesario */
}

.carousel-item img {
    width: 100%; /* Ajusta la imagen al ancho del contenedor */
    height: 100%; /* Ajusta la altura de la imagen al contenedor */
    object-fit: cover; /* Recorta la imagen para que cubra todo el contenedor */
    border-radius: 5px;
}

/* ====== SECCIÓN DE PRODUCTOS ====== */
.productos {
    padding: 20px;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: bold; 
}

.producto {
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 5px;
    width: 250px;
    text-align: center;
}

.producto img {
    width: 200px;  /* Ancho fijo */
    height: 200px; /* Alto fijo */
    object-fit: cover; /* Recorta la imagen para que llene el contenedor */
    border-radius: 5px;
}

.producto button {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #08c54a;
    color: white;
    cursor: pointer;
}

/* Contenedor de Productos Destacados */
.productos-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.producto2 {
    display: flex;
    align-items: center;
    text-align: left;
    background: #2B2B2B;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%; /* Ajusta el ancho para distribuir correctamente los elementos */
}

.producto-img {
    width: 80px; /* Tamaño más pequeño para la imagen */
    height: auto;
    text-align: left;
    margin-right: 15px;
    border-radius: 5px;
}

.producto-info {
    flex: 1;
}

.etiqueta {
    display: inline-block;
    background-color: #ffcc00;
    color: #000;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 12px;
}

/* ====== PIE DE PÁGINA ====== */
footer {
    background-color: #2d2d2d;
    color: White;
    padding: 10px 0;
    margin-top: 20px;
}

/* Opiniones de clientes */
.opiniones-clientes {
    padding: 40px 20px;
    background-color: #1D1D1D;
    text-align: center;
}

.opiniones-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.opinion {
    background-color: #2D2D2D;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
}

/* Novedades y Consejos */
.novedades {
    padding: 40px 20px;
    text-align: center;
    color:#FFFFFF(0, 0, 0);
}

.novedades-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.novedad {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    color: #000;
}

/* Productos Destacados */
.productos-destacados {
    padding: 40px 20px;
    text-align: center;
}

/* ===== SECCIÓN DE INFORMACIÓN ===== */
.about-section {
    padding: 40px 20px;
    background-color: #1D1D1D;
    text-align: center;
    display: flex;
    justify-content: center; /* Asegura que el contenido esté centrado */
}

.about-container {
    display: flex;
    justify-content: space-between; /* Distribuye las secciones de misión y visión */
    gap: 20px; /* Espacio entre las secciones */
    margin-top: 20px;
}

.info-container {
    display: flex;
    flex-direction: row; /* Alinea los elementos en una fila */
    gap: 20px; /* Espacio entre los bloques de misión y visión */
    max-width: 1000px; /* Se aumenta el ancho máximo si es necesario */
}

.mision-container, .vision-container {
    background-color: #2B2B2B;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(230, 101, 15, 0.1);
    width: 45%; /* Cada sección ocupa el 45% del ancho disponible */
}

.mision-container h2, .vision-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.mision-container p, .vision-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
    text-align: center;
}


/* ====== BOTONES DE ACCIÓN GENERAL ====== */
.boton-accion {
    background-color: #33691e;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton-accion:hover {
    background-color: #2e7d32;
}

.btn {
    margin-top: 10px;
    padding: 8px 12px;
    border: none;
    background-color: #08c54a;
    color: white;
    cursor: pointer;
}



/* ===== STILOS DE LOGIN ===== */
.login-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2D2D2D; 
}



/* ===== FORMULARIO ===== */
.login {
    width: 400px; /* Ancho fijo para el formulario */
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0);
    padding: 0px;
    box-sizing: border-box;
}

/* ===== IMAGEN ===== */
.login-image {
    width: 400px; /* Ancho fijo para la imagen */
}

.login-image img {
    width: 100%;  /* La imagen ocupará todo el contenedor */
    height: auto;  /* Mantendrá su proporción */
    border-radius: 8px;
}

/* ===== FORMULARIO DE INICIO DE SESIÓN ===== */
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 16px;
    display: block;
    width: 50%;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #ffffffa8;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #ffffff46;
    font-weight: bold;
}

/* ===== BOTONES ===== */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons .btn {
    width: 48%;
    padding: 12px;
    background-color: #08c54a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;

}

.buttons .btn:hover {
    background-color: #357ab7;
}

.buttons .btn.secondary {
    background-color: #ccc;
}

.buttons .btn.secondary:hover {
    background-color: #999;
}

/* ===== ENLACE DE "OLVIDASTE TU CONTRASEÑA" ===== */
.forgot-password {
    text-align: center;
    margin-top: 15px;
}

.forgot-password a {
    font-size: 14px;
    color: #4a90e2;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

/* Estilo para el ComboBox */
input[type="select"], select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #e9e9e9;
    font-weight: bold;
}



/* ===== ESTILOS PARA MODULO DE CLIENTES ===== */
.welcome-section {
    display: flex;
    align-items: center;
    background-color: #555555;
    padding: 20px;
    color: white;
}

.profile-picture img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.user-info {
    margin-left: 20px;
}

.user-info h2 {
    margin: 0;
    text-align: left;
}

.user-info select {
    margin: 5px 0;
    padding: 5px;
}

/* ===== PRODUCTOS DESTACADOS ===== */
.productos-destacados {
    padding: 40px 20px;
    text-align: center;
}

.botones-productos {
    margin: 20px 0;
}

.btn-realizar-pedido {
    padding: 10px 20px;
    border: none;
    margin: 0 5px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}



.btn-ver-todos, .btn-realizar-pedido {
    background-color: #08c54a;
    color: white;
    padding: 10PX;
    margin: 10PX;
    cursor: pointer;
}

.productos-containerCatalogo {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.productoCatalogo {
    background-color: #2B2B2B;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Esto asegura que el contenido se distribuya bien */
    height: 320px; /* Ajusta la altura según el contenido */
}

.etiqueta2 {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffcc00;
    padding: 3px 8px;
    font-size: 12px;
    border-radius: 4px;
}

.imagen-producto {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
}

.contenedor-carrito {
    display: flex;
    gap: 5px;
    justify-content: center; /* Centra el botón */
    margin-top: auto; /* Mueve el botón hacia la parte inferior */
    padding: 5px; /* Espacio entre el contenido y el botón */
}

.boton-carrito {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    gap: 5px;
    cursor: pointer;
    width: 16px; /* Botón con ancho de 16px */
    height: 16px; /* Botón con alto de 16px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-carrito {
    gap: 5px;
    width: 16px; /* Imagen con ancho de 16px */
    height: 16px; /* Imagen con alto de 16px */
    object-fit: contain; /* Asegura que la imagen no se distorsione */
    display: block;
}


/* ==== ESTILOS PARA LA PAGINA REPORTES === */
/* Contenedor principal */
.rpt-dashboard-container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 10px;
    background-color: #2B2B2B;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
  }
  
  /* Título */
  .rpt-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  /* Tarjetas */
  .rpt-cards-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
  
  .rpt-card {
    background-color: #3c3c3c;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
  }
  
  .rpt-card:hover {
    transform: scale(1.05);
  }
  
  .rpt-card h3 {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .rpt-amount {
    font-size: 24px;
    font-weight: bold;
    color: #08c54a;
  }
  
  .rpt-card i {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
  }
  .rpt-card p{margin-bottom: 15px;
    color: #00ff88;}
  
  /* Gráfico principal + datos relevantes */
  .rpt-main-graph-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 40px;
  }
  
  .rpt-monthly-sales-chart {
    flex: 2;
  }
  
  .rpt-relevant-data {
    flex: 1;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
  }
  
  .rpt-relevant-data h3 {
    margin-bottom: 15px;
    color: #00ff88;
  }

  
  
  .rpt-relevant-data p {
    margin: 8px 0;
  }
  
  /* Gráficos inferiores */
  .rpt-bottom-charts {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rpt-chart {
    flex: 1;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    min-width: 350px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05);
  }
  
canvas {
    width: 100% !important;
    height: 300px !important;
}
  
.export-section {
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

.export-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #00ff88;
}

.export-section p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.export-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.export-btn {
    background-color: #388e3c;
    color: white;
    font-size: 16px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.export-btn i {
    font-size: 20px;
}

.export-btn:hover {
    background-color: #2c6e2f;
    transform: scale(1.05);
}

.pdf-btn {
    background-color: #d32f2f;
}

.pdf-btn:hover {
    background-color: #c62828;
}

.excel-btn {
    background-color: #388e3c;
}

.excel-btn:hover {
    background-color: #2e7d32;
}




/* ESTILOS PARA LA SECCION OCULTA DE CARRITO */
.carrito-slide {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #08c54a;
    padding: 20px;
    z-index: 999;
    transition: transform 0.3s ease;
}
.carrito-slide.hidden{transform: translate(100%);}

.btn-MostrarOcultar{
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 1000;
    background-color: #08c54a;
    color: #FFFFFF;
    padding: 10PX;
    margin: 10PX;
    cursor: pointer;
    font-family: "San Francisco", sans-serif; 
    font-size: 12px;
    border-radius: 5px;
    font-weight: bold;
    border: none;

}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}
th, td {
    border: 1px solid #2b2b2b;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #2b2b2b;
}
#total-carrito {
    font-weight: bold;
}
@media (max-width: 768px) {
    .header-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .productos-container,
    .productos-container2,
    .opiniones-container,
    .novedades-container,
    .about-container,
    .info-container,
    .carousel-container {
        flex-direction: column;
        align-items: center;
    }

    .producto2, .novedad, .opinion, .producto {
        width: 90%;
    }

    .login-container {
        flex-direction: column;
        align-items: center;
    }

    .login, .login-image {
        width: 90%;
    }
}
